**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/.DS_Store
**/bin
**/obj
**/node_modules
**/*.user
**/*.suo
**/appsettings.Development.json
**/appsettings.Local.json
**/.env
**/README.md
**/docs
**/*.md
**/migrations/*.sql
