SUPABASE_ANON_KEY=
SUPABASE_URL=https://outlxbcgkcuximxydlvq.supabase.co
BASE_URL=http://localhost:5166
PARENT_EMAIL=parent1@agora.edu.vn
PARENT_PASSWORD=12345
ADMIN_EMAIL=admin@agora.edu.vn
ADMIN_PASSWORD=12345
